<div class="container m-auto">
  <div class="bg-[url('GitHubBattleTop.png')] bg-cover h-svh">
    <div class="flex flex-col">
      <div class="text-center">
        <h1 class="text-2xl">Github Battle<h1>
        <%= link_to "戦いにいく", users_path %>
      </div>
    </div>
  </div>
</div>
