<div class="h-screen bg-white text-gray-700">
  <div class="flex flex-col text-center justify-center">
    <div class="flex justify-center items-center">
      <%= image_tag "logo.png", class: "h-auto w-1/2 mt-20"%>
    </div>
    <div>
      <p class="text-6xl">GITHUB BATTLEとは</p>
      <p class="mt-2">GITHUB BATTLEは、GitHubの草の数を競い合うゲームです。</p>
      <p class="mt-2">戦闘力として、その日の前日から７日間の草を集計しています</p>
    </div>
    <div class="mt-16">
      <%= link_to users_path, class: "relative text-center px-20 py-3 overflow-hidden font-medium text-gray-600 bg-green-300 border border-gray-100 rounded-lg shadow-inner group" do%>
          <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"></span>
          <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
          <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
          <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
          <span class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-900 opacity-0 group-hover:opacity-100"></span>
          <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">戦いに行く</span>
        <%end%>
    </div>
  </div>
</div>
