<div class="header bg-black">
  <div class="container m-auto">
    <div class="flex justify-between items-center h-12 bg-black">
    <%= link_to "Github Battle", root_path%>
    <% if user_signed_in?%>
      <ul class="flex flex-row">
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete} %>
        </li>
      </ul>

    <% else %>
      <ul>
        <li>
          <%= link_to 'ログイン', new_user_session_path %>
        </li>
      </ul>
    <% end %>
    </div>
  </div>
</div>
